<%= content_for :page_title do 'Ãndice' end %>
<input type="text" placeholder="Search component..." data-component="search" data-search-target="home-components">

<ul data-search-wrapper="menu-item">
  <% Frontify::Component.all.each do |component| %>
    <li data-search-text="<%= component.pretty_name %>">
      <%= link_to component_path(component.name), title: component.pretty_name do %>
        <% if component.image.present? %>
          <%= image_tag "data:image/jpeg;base64,#{ component.image }" %>
        <% end %>
        <%= component.pretty_name %>
      <% end %>
    </li>
  <% end %>
</ul>
