<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Frontify</title>

  <%= stylesheet_link_tag    'frontify/application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- MAIN NAVIGATION BEGIN -->
  <div class="alg-mainNavigation" data-component="side-menu">
    <header class="alg-mainNavigation-header">
      <input type="text" placeholder="Search component..." class="alg-mainNavigation-search" data-component="search" data-search-target="menu-item">
    </header>

    <nav class="alg-mainNavigation-items">
      <%= link_to 'Index',
        components_path,
        title: 'Index',
        class: "alg-mainNavigation-item #{ params[:id] == nil ? 'is-active' : ''}",
        data: { component: "side-menu-item" } %>

      <div data-search-wrapper="menu-item">
        <% Frontify::Component.all.each do |component| %>
          <%= link_to component.pretty_name, component_path(component.name), title: component.pretty_name, class: "alg-mainNavigation-item #{ params[:id] == component.name ? 'is-active' : ''}", data: { search_text: component.pretty_name, assync_request: true, component: "side-menu-item" } %>
        <% end %>
      </div>
    </nav>
  </div>
  <!-- MAIN NAVIGATION END -->

  <!-- PAGE NEGIN -->
  <div id="js-page" class="alg-page">
    <div id="js-page-overlay" class="alg-page-overlay"></div>

    <div class="alg-page-inner">
      <header class="alg-page-header">
        <div class="alg-page-toggle">
          <input type="checkbox" id="js-mainNavigation-toggle">
          <label for="js-mainNavigation-toggle">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>

        <h1 title="<%= yield(:page_title) %>" class="alg-page-title" data-component="page-title">
          <%= yield(:page_title) %>
        </h1>

        <nav class="alg-page-navigation" data-component="page-navigation">
          <%= yield(:sections) %>
        </nav>
      </header>

      <!-- PAGE CONTENT BEGIN -->
      <div class="alg-page-content" data-component="content">
        <%= yield %>
      </div>
      <!-- PAGE CONTENT END -->
    </div>
  </div>
  <!-- PAGE END -->

  <%= javascript_include_tag 'frontify/application' %>
</body>
</html>
